:root {
    --main-color: #F2F3F5;
    --main-border-color: #666e7e;
    --main-font-color: #000000;


}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    overscroll-behavior: none;
    height: 100%;
    overflow: hidden;
}