.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
}

.title {
    font-size: 10vw;
    font-weight: 600;
    margin-bottom: 4vw;
    color: var(--main-font-color);
    user-select: none;
}

.start {
    height: 45vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.btnOps {
    height: 20vw;
    width: calc(85vw - 4px);
    border: 1vw solid var(--main-border-color);
    border-radius: 7.5vw;
    font-size: 6.5vw;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--main-color);
    color: var(--main-font-color);
}

.linkOps {
    text-decoration: none;
}